/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

/* body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


.icon-list {
    padding-left: 0;
    list-style: none;
  }
  .icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
  }
  .icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
    /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto; */
  }

.cont {
      width: 470px;
      height: 200px;
}

.gridex > .row {
      background-color: rgb(228, 224, 224);
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      border-left: 1px solid grey;
}

.gridex .col {
  border-right: 1px solid gray;
}

.highlight {
    background-color: rgb(228, 224, 224);
}
.bakcol {
    background-color: rgb(231, 231, 231);
}


.nt {
    color: rgb(44, 44, 138);
}

.na {
    color: rgb(38, 79, 117);
}

.s {
    color: rgb(156, 58, 58);
}

img.ejima {
    width: 150px;
    height: 150px;
}

.fs {
    font-size: 18px;
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.bd-example-ratios .ratio {
    display: inline-block;
    width: 10rem;
    color: #6c757d;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.bd-example-ratios .ratio>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bd-example-rounded-utils [class*=rounded] {
  margin: 0.25rem;
}

.bd-example-position-utils {
  position: relative;
  padding: 3em;
}

.bd-example-position-utils .position-absolute {
  width: 2em;
  height: 2em;
  background-color: #212529;
  border-radius: 0.25rem;
}

.bd-example-position-utils .position-relative {
  height: 200px;
  background-color: #f5f5f5;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
}

.bd-highlight {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.15);
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: .25;
}

.opacity-0{opacity:0}
.opacity-25{opacity:.25}
.opacity-50{opacity:.5}
.opacity-75{opacity:.75}
.opacity-100{opacity:1}

.spac-sty {
  width: 200px;
  background-color: rgba(86,61,124,.15);
}

.txt-sty {
  width: 6rem;
}
